<!DOCTYPE html>
  <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Gring'Eat | Playground</title>
        <meta name="Playground" content="Hello World, this is my playground.">
        <meta charset="utf-8">

        <link rel="stylesheet" href="app/assets/stylesheets/pages/application.scss">
    </head>

    <body>

      <h1>Gring'Eat</h1>
      <h2>Gring'Eat</h2>
      <h3>Gring'Eat</h3>
      <h4>Gring'Eat</h4>
      <h5>Gring'Eat</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet aliquam nisi, eu pharetra purus. Mauris tincidunt pretium lacus, sit amet lobortis erat elementum eget. Morbi sit amet dolor lacinia, congue arcu et, viverra ipsum. Morbi sed tincidunt leo, et fermentum dui. Nam congue pulvinar tellus. Nullam consequat purus et ornare ornare. Donec vulputate, eros et sodales semper, sapien dolor luctus nisi, in ornare magna velit et lacus. Ut non vestibulum urna. Aliquam ac nisi at purus faucibus tempor a nec turpis. Sed id tortor porta, consequat nibh at, condimentum nulla. Cras vel porttitor neque.</p>     
   
  </body>
  </html>
