<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

</br>

<div class="cards-review">
  <div class="cards-review">
    <img src="#" alt="image produit">
    <div class="card-review-infos">
      <h4>Water</h4>
      <p>Volvic</p>
      <div class="card-review-labels">
        <img src="#" alt="image label">
        <img src="#" alt="image label">
        
      </div>
      <div class="card-review-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <p>(520)</p>
      </div> 
    </div>
  </div>

