<img src="" alt="Logo">
<input type="text" placeholder="Search..">

<div class="cards-written-review">
  <div class="card-written-review"">

    <div class="card-written-review-avatar">
      <img src="#" alt="avatar" class="">
      <p>Name</p>

    <div class="card-written-review-infos">
      <div class="card-written-review-ratings">
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
      </br>
      <span>20/10/2035</span>
    </div> 

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p> 

  </div>
</div>
