<img src="" alt="Logo">
<input type="text" placeholder="Search..">


<div class="cards-result">
  <div class="card-result">
    <img src="https://www.stmichel.fr/media/cache/product_detail_bg/uploads/images/product/product/01.png" alt="image produit" class="img-produit">
    <%= image_tag 'icons/heart_icon', style: 'width:16px', class: 'heart'%>
    <div class="card-result-infos">

      <div class="card-result-name-labels">
        <h4>Biscuit</h4>
        <div class="label">
         <%= image_tag 'icons/glutenfree_icon', style: 'width:16px', class: 'label'%>
         <%= image_tag 'icons/leaf_icon', style: 'width:16px'%>
        </div>
      </div>
      <p>Saint Michel</p>

      <div class="card-result-ratings">
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        <i class="fas fa-star fa-xs"></i>
        </br>
        <span>(520)</span>
      </div> 
</div>

<div class="cards-written-review">
  <div class="card-written-review"">

    <div class="card-written-review-avatar">
      <img src="#" alt="avatar" class="">
      <p>Name</p>

    <div class="card-written-review-infos">
      <div class="card-written-review-ratings">
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
          <i class="fas fa-star fa-xs"></i>
      </br>
      <span>20/10/2035</span>
    </div> 

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p> 

  </div>
</div>

                                      