.button-review {
  background-color: #2EC4B6;
  color: white;
  width:200px;
  height:48px;
  border-radius: 8px;
  padding:10px 15px;
  font-size:16px;
  font-weight: 600;
  text-align:center;
}


.button-apply{
  background-color:black;
  color:white;
  width:182px;
  height:48px;
  border-radius: 8px;
  font-size:16px;
  font-weight: 600;
}

.button-research{
  background-color:white;
  color:#495057;
  width:182px;
  height:48px;
  border-radius: 8px;
  font-size:16px;
  font-weight: 600;
  border:1px solid #ACB5BD;
}
