/*CARDS BEST REVIEW*/
.cards-review{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 200px;
}

.card-review{
  height: 90px;
  width:250px;
  display: flex;
  box-shadow: 3px 3px 3px rgba(217, 218, 217, 0.5);
  border-radius: 15px;
  margin-right:15px;
}

/*FONT*/
.card-review h4{
  margin:0px;
  font-size: 12px;
  font-weight:bolder;
}
.card-review p{
  margin:0px;
  font-size: 10px;
}

.card-review span{
  font-size: 10px;
  padding-left: 15px;
  margin-top: 1px;
}

/*CARD INFOS + IMAGES*/

.card-review .img-produit {
  height: 100%;
  width: 125px;
  object-fit: cover;
  object-position: center;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
  position: relative;
}

.card-review .heart {
  position:absolute;
  width:30px;
  padding:3px;
}

.card-review-infos{
   padding-top: 12px;
   padding-left: 14px;
   padding-right: 14px;
}

/*TITRE + LABELS*/
.card-review-name-labels {
   display:flex;
   justify-content: space-around;
}
.card-review-name-labels .label {
  display:flex;
}

.card-review-name-labels .label img{
   border: 1px solid gray;
   border-radius: 20px;
   padding:1px;
   margin-bottom: 3px;
}

.card-review-ratings{
  display:flex;
  align-items:center;
}
.card-review-infos i {
  display: inline-block;
  color:#FAD41B;

}

