/*CARDS BEST REVIEW*/
.cards-result{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  width: 100%;
}

.card-result{
  height: 250px;
  width:130px;
  box-shadow: 1px 2px 5px rgba(217, 218, 217, 0.50);
  border-radius: 15px;
  margin-right:10px;
  margin-left: 10px;
  margin-top: 60px;
}

/*FONT*/
.card-result h4{
  margin: 0px;
  font-size: 16px;
  font-weight:bolder;
}
.card-result p{
  margin:0px;
  font-size: 12px;
}

.card-result span{
  font-size: 10px;
  padding-left: 15px;
  margin-top: 1px;
}

/*CARD INFOS + IMAGES*/


.img-produit-result {
  height: 60%;
  width:130px;
  object-fit: cover;
  background-color: rgb(221, 221, 221);
  border-radius: 15px;
}

.card-result-infos{
   padding-left: 16px;
   padding-right: 24px;
   padding-top:12px;
}

/*TITRE + LABELS*/
.card-result-name-labels {
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.card-result-name-labels .label {
  padding-left: 10px;
}

.card-result-name-labels .label img{
   border: 1px solid gray;
   border-radius: 50px;
   padding:3px;
   margin-bottom: 3px;
}

.card-result-ratings{
  display:flex;
  align-items:center;
  padding-left:2px;
}
.card-result-infos i {
  display: inline-block;
  color:#FAD41B;
}
