.cards-category{
  display:flex;
  align-items: center;
  height: 100px;
}
.card-category{
  height: 80px;
  width:60px;
  border-radius: 15px;
  margin-right: 15px;
}

.card-category p{
  font-size: 10px;
  margin-top: 5px;
  text-align: center;
  padding-right:5px;
  font-weight: 600;
}

.card-category .img-category {
  height: 56px;
  width: 56px;
  padding: 5px;
  object-fit: cover;
  border-radius: 15px;
} 

.img-category{
  display:flex;
  flex-wrap:wrap;
  justify-content:column;
}
