.form-login {
  position: absolute;
  width: 350px;
  height: 56px;
  background-color: #FFFFF;
  border: #E1E6E8 1px solid;
  text-align: left;
  font-family: Mulish Semi-Bold;
  font-size: 16px;
  color: #495057;
  border-radius: 8px;
  padding: 10px 20px;
}

.form-select {
  position: absolute;
  width: 350px;
  height: 56px;
  background-color: #FFFFF;
  border: #E1E6E8 1px solid;
  text-align: left;
  font-family: Mulish Semi-Bold;
  font-size: 16px;
  color: #495057;
  border-radius: 8px;
  padding: 10px 20px;
}

.form-profil-input {
  position: absolute;
  width: 350px;
  height: 56px;
  background-color: #FFFFF;
  border: #62D2C8 1px solid;
  text-align: left;
  font-family: Mulish Semi-Bold;
  font-size: 16px;
  color: #495057;
  border-radius: 8px;
  padding: 10px 20px;
}

.form-error {
  position: absolute;
  width: 350px;
  height: 56px;
  background-color: #FFFFF;
  border: #FAC4B5 1px solid;
  text-align: left;
  font-family: Mulish Semi-Bold;
  font-size: 16px;
  color: #495057;
  border-radius: 8px;
  padding: 10px 20px;
}

.icon-green {
  position: absolute;
  padding: 10px;
  background: #FFFFF;
  color: #62D2C8;
  min-width: 35px;
  text-align: center;
}

.icon-red {
  position: absolute;
  padding: 10px;
  background: #FFFFF;
  color: #FAC4B5;
  min-width: 35px;
  text-align: center;
}
