.main-container{
  width:90%;
  margin:0 auto;
  margin-top:20px;
  min-height: 100vh;
}

.profile-container {
  width: 80%;
  margin: auto;
text-align:center;
}

.profil-options p {
  text-align:left;
}
