.product-id{
  margin-bottom: 20px;
}

.product-id-photo{
  height: 300px;
  width:100%;
  background-position: center;
  background-size: cover;
  background-color: rgb(221, 221, 221);
  border-radius:15px;
  position:relative;
  border-style: none;
}

.fas.fa-chevron-left{
  position: absolute;
  top:30px;
  left:30px;
  color:gray;
  font-size:20px;
  border-radius:10px;
  background-color:white;
  padding:10px;
}

.product-id-photo .label-id{
  position: absolute;
  bottom: -7px;
  width:50%;
  left:25%;
  text-align: center;
  font-size: 50px;
}

.product-id-photo .label-id .label{
  background-color: white;
  border-radius:5px;
  padding:5px;
}

.product-id-photo .heart{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  border-radius:10px;
  padding:5px;
}

.product-id-photo .heart:hover,
.product-id-photo .heart:focus {
  background-color: pink;
}

.product-id-infos{
  margin-top: 20px;
}

.product-id-infos h4{
  margin-bottom: 2px;
  font-weight:bold;
  font-size:20px;
}
.product-id-infos p{
  font-size:14px;
}

.product-id-infos span{
  font-size:10px;
}

.product-id-infos a{
  font-size:12px;
  text-decoration: underline;
}

.product-id-infos-titre{
  display:flex;
  justify-content: space-between;
}

.card-review-ratings i {
  display: inline-block;
  color:#FAD41B;
  padding-left:2px;
}


.block4-wrap {
	display:flex;
  height: 120px;
}
.block4 {
	max-width: 250px;
    flex: 1 0 100%;
    overflow: hidden;
    display: flex;
    justify-content: start;
}
.my-captions{margin:10px;padding-bottom:3em}

/* fix width and make user scroll with mouse/touch to see the items */
@media screen and (max-width:768px){
	.block4{max-width: 250px;
    flex: 1 0 80%;
    margin-right: 20px;
    overflow: hidden;
    display: flex;
    justify-content: start;}	
	.carousel{overflow:hidden;}
	.carousel-inner{overflow-x:visible;}
}
@media screen and (max-width:480px){
	.block4{max-width:240px;}	
}

.col-12{
  padding:0px;
}

.container-fluid{
  margin-top: 20px;
  height: 100px;
}
.row .flex-xl-nowrap{
  height: 150px;
}

.other-reviews{
  font-size:12px;
  text-decoration: underline;

}

.reviews-button{
  text-align: center;
  margin-top: 10px;
}

.reviews-button ul {
    margin:0px;
    padding:0px;
}

.reviews-button li {
    list-style: none;
    padding-top:10px;
}

input[type="submit" i] {
  border-color: white;
  border-style: none;
}

input[type="text" i], input[type="number" i] {
    padding: 1px 2px;
    border-radius: 5px;
    border: 1px solid #939394;
}
