.cards-written-review{
  min-height: 20vh;
}
.card-written-review{
  min-height: 90px;
  width:100%;
  display: flex;
  box-shadow: 1px 2px 5px rgba(217, 218, 217, 0.50);
  border-radius: 15px;
  padding: 15px 10px;
}

.card-written-review p{
  margin:0px;
  font-size:12px;
}


.card-written-review span{
  font-size: 10px;
  padding-left: 15px;
}

.card-written-review-infos{
  padding-left:16px;
  padding-right:16px;
  padding-top:12px;
}

.card-written-review-ratings{
  display:flex;
  align-items:center;
  padding-left:2px;
}
.card-written-review-infos i {
  display: inline-block;
  color:#FAD41B;
}

.card-written-review-avatar {
  padding-top: 15px;
  text-align:center;
  
}

.avatar-review {
  object-fit: cover;
  border-radius: 50px;
  height:40px;
  width:40px;
  background-color: rgb(221, 221, 221);
}

.form-review {
   min-height: 30vh;
   text-align: center;
}

input{
  margin-bottom: 10px;
}