<div class='row'>
    <div class='col-12 col-sm-6 offset-sm-3'>
      <div class="panel panel-primary">
        <%# <div class='panel-heading'>
          <h3 class='panel-title'>Barcode scanner</h3>
        </div> %>
        <div id='panel-body'>
          <div id='barcode-scanner'></div>
          <div id="scanning-image">
           <div class='spacer'></div>
  <div class='anim-box center spacer'>
    <!-- empty first child used for corners -->
    <div></div>
    <div class='scanner'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-md'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-md'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-lg'></div>
    <div class='anim-item anim-item-sm'></div>
    <div class='anim-item anim-item-md'></div> 
  </div>
  <div class='spacer'></div>
          </div>
        </div>
      </div>
    </div>
</div>
